</main>

<footer>
  <p>Copyright © <span id="copyrightYear"></span></p>
</footer>
<script>
  let copyrightYear = document.getElementById("copyrightYear");
  let year = new Date().getFullYear();
  copyrightYear.textContent = year;
</script>
</body>

</html>