<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uv</title>
</head>

<body>
    <h1>Enter latitude and longitute of your location to know the sunrise and sunset time </h1>
    <form action="/getSunInfo" method="post">
        <label for="lat">Latitude:</label>
        <input type="text" id="lat" name="lat" required>
        <label for="lng">Longitude:</label>
        <input type="text" id="lng" name="lng" required>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <button type="submit">Get Sun Info</button>
    </form>
</body>

</html>