<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun Info</title>
</head>

<body>
    <h2>Sunrise: <%= locals.sunrise %>
    </h2>
    <h2>Sunset: <%= locals.sunset %>
    </h2>

    <button onclick="location.href='/'">Check again</button>
</body>

</html>