* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#marquee-content {
    animation-name: marquee;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}

.stack1 {
    z-index: -1;
    opacity: 0.5;
}

.stack2 {
    z-index: -2;
    opacity: 0.5;
}